---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if paginator.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in paginator.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
          {% if post.title_image %}
            <img src="{{ post.title_image }}" alt="{{ post.title }}">
          {% endif %}
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <div class="pagination">
      {%- if paginator.previous_page -%}
        <a class="pagination-prev" href="{{ paginator.previous_page_path | relative_url }}">&laquo; 上一頁</a>
      {%- endif -%}
      <span class="pagination-page">第 {{ paginator.page }} / {{ paginator.total_pages }} 頁</span>
      {%- if paginator.next_page -%}
        <a class="pagination-next" href="{{ paginator.next_page_path | relative_url }}">下一頁 &raquo;</a>
      {%- endif -%}
    </div>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
